body {
    margin:0;
}
.CCcontainer {
    background-image: url('./imgs/robert-calderon-Tb9_RyHifaA-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 490px;

}

.CCform {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 70%;
    width: 40%;
    background-color:#1EA896;
    padding: 2%;
}

