.page_root {
  display: flex;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 1400px;
  height: 100vh;
}

.dashboard_header {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.dashboard_root {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ui.container.left_dashboard {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #f3eff5;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 2em;
}

.ui.button.class_button {
  background: #ff715b;
  color: white;
}

.ui.button.logout_button {
  background: #1ea896;
  color: white;
  height: 36px;
}

.ui.input {
  z-index: 5;
}

.ui.form {
  position: fixed;
  left: 300px;
  width: auto;
  height: 50px;
  z-index: 4;
}

.ui.selection.dropdown {
  min-width: 8em;
}

span {
  display: inline-block;
  position: relative;
  top: 0px;
  left: 2px;
  padding-right: 2px;
  text-align: center;
  line-height: 18px;
  text-align: center;
  background: lightcoral;
  border-radius: 100%;
  width: 18px;
  height: 18px;
}

.ui.button.cart {
  background: #4c5454;
}
