.page_root {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
}

.dashboard_header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.dashboard_root {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  -webkit-box-shadow: -2px 6px 10px 0px rgba(200, 200, 200, 0.5);
  -moz-box-shadow: -2px 6px 10px 0px rgba(200, 200, 200, 0.5);
  box-shadow: -2px 6px 10px 0px rgba(200, 200, 200, 0.5);
  border: solid 0.1em rgb(232, 229, 233);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.ui.container.left_dashboard,
.ui.container.right_dashboard {
  width: 50%;
  height: calc(100vh - 100px);
}

.ui.container.left_dashboard {
  background-color: #f3eff5;
  border-top-left-radius: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 2em;
}

.ui.container.right_dashboard {
  border-right: 0.3em solid #f3eff5;
  border-top: 0.3em solid #f3eff5;
  border-bottom: 0.3em solid #f3eff5;
  border-top-right-radius: 1em;
}

.ui.button.class_button {
  background: #ff715b;
  color: white;
}

.ui.button.logout_button {
  background: #1ea896;
  color: white;
}

.ui.input {
  z-index: 5;
}

.ui.form {
  position: fixed;
  left: 300px;
  width: auto;
  height: 50px;
  z-index: 4;
}

.ui.selection.dropdown {
  min-width: 8em;
}
