 
/* used for CreateAccount, CreateClass, and LoginCard */


.container {
    
}

.form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1EA896;
    border: 2px solid #4C5454;
    padding: 5%;

}

input {
    margin: 1%;
}

select {
    margin: 1%;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


