header {
    background-color: #1EA896;
    border:3px solid black;
    display: flex;
    justify-content: space-evenly;
    align-content: center;

}
  
nav a {
    color: #FF715B;
    margin: 2%;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

form {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: white;
}

.hform input {
    margin: 0px;
    padding: 0px;
    margin-left: 2%;
    background-color: white;
}

.menu {
    margin-bottom: 0px;
}

