.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  font-size: 1.2rem;
}

input,
select,
textarea {
  width: 100%;
  margin: 5px 0 0;
  display: block;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s;
  font-size: .8rem;
  letter-spacing: 3px;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}




.savedClassDiv {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-evenly;
}

.aboutText {
  background: white;
  width: 100%;
  max-width: 250px;
  padding: 10px;
  margin: 16px auto;
  text-align: center;
  font-size:20px;
}

body {
  background-color: rgb(231, 231, 231);
}

.formDiv {
  background-color: white;

}

h1 {
  color: #41b3a3;
  font-family: monospace;
  font-size: 40px;
}

.submitBtn {
  background-color: #41b3a3;
  padding: 10px;
  font-size: 16px;
  color: yellow;
  font-weight: bold;
}